[submodule "BAM-Contracts/lib/forge-std"]
	path = BAM-Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BAM-Contracts/lib/solady"]
	path = BAM-Contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "BAM-Contracts/lib/solmate"]
	path = BAM-Contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
